[Unit]
Description=This program is a simple script to download, set, and archive wallpapers from Unsplash for your sway desktop. 
After=default.target network.target

[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/env python3 /usr/bin/ruwfs.py

SystemCallArchitectures=native
MemoryDenyWriteExecute=true
NoNewPrivileges=true

[Install]
WantedBy=default.target